
body {
    font-family: 'Lato', sans-serif;
    display: grid;
    margin: 0px;
    grid-template-columns: 20% auto auto;
    grid-template-rows: auto auto 100% auto;
}

.contenedor {
    display: flex;
    background-color: rgb(223, 217, 217);
}

section {
    margin: 0px 0px;
    padding: 10px 30px;
    flex: 0 1 80%;
    background-color: rgb(255, 255, 255);
}

section i {
    display: block;
}

section b {
    margin-left: 20px;
}

section h2 {
    color: rgb(32, 32, 105);
    margin-top: 30px;
}

#perfil {
    margin-top: 5px;
}

aside {
    border: 1px solid black;
    border-radius: 10px;
    margin: 20px 50px 0px 30px;
    flex: 0 1 20%;
    display: inline-table;
}

aside h4 {
    margin: 5px 15px;
}

aside ul {
    list-style: none;
    padding: 0px;
    margin: 5px 15px;
}

aside a {
    text-decoration: none;
    color: black;
    font-size: 14px;
}

@media (min-width: 1200px) {
    .contenedor {
        grid-column: 1 / 4;
        grid-row: 3;
    }
}

@media (min-width:992px) and (max-width:1199px) {
    .contenedor {
        grid-column: 2 / 4;
        grid-row: 2 / 4;
    }
}

@media (min-width:768px) and (max-width:991px) {
    .contenedor {
        grid-column: 1 / 4;
        grid-row: 3;
    }
}

@media (max-width:767px) {
    .contenedor {
        grid-column: 1 / 4;
        grid-row: 3;
    }
}