
body {
    font-family: 'Lato', sans-serif;
    display: grid;
    margin: 0px;
    grid-template-columns: 20% auto auto;
    grid-template-rows: auto auto 100% auto;
}

.contenedor {
    display: flex;
    background-color: rgb(238, 238, 238);
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 35%;
    background-color: rgb(207, 207, 207);
    border-radius: 25px;
    padding: 25px 25px;
    height: auto;
    box-shadow: 7px 7px 10px gray;
}

form label {
    padding: 15px 0px;
}

form input {
    border: transparent;
    border-radius: 15px;
    height: 25px;
    padding: 5px 10px;
    font-size: 15px;
    outline: none;
}

form span {
    display: flex;
    justify-content: center;
}

#boton {
    margin-top: 30px;
    font-family: 'Lato', sans-serif;
    padding: 0px 20px;
    background-color: rgb(6, 10, 71);
    color: white;
    height: 30px;
}

#boton:hover {
    background-color: rgb(40, 116, 202);
    cursor: pointer;
}

@media (min-width: 1200px) {
    .contenedor {
        grid-column: 1 / 4;
        grid-row: 3;
    }
}

@media (min-width:992px) and (max-width:1199px) {
    .contenedor {
        grid-column: 2 / 4;
        grid-row: 2 / 4;
    }
}

@media (min-width:768px) and (max-width:991px) {
    .contenedor {
        grid-column: 1 / 4;
        grid-row: 3;
    }
}

@media (max-width:767px) {
    .contenedor {
        grid-column: 1 / 4;
        grid-row: 3;
    }
}